body {
    font-optical-sizing: auto;
    font-size: 16px;
    color: #FFF;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #9393a8;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #bbbbbb, #9393a8), repeating-radial-gradient(circle at center center, #bbbbbb, #bbbbbb, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;

    /* Flexbox to center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
}

#header, #content, #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text inside */
}

h1 {
	font-size: 3em;
	margin: 0px;
	padding: 0px;
}


h3 {
	font-size: 1em;
	margin: 5px;
}
#result {
	font-size: 1.5em;
	margin: 10px;
	text-transform: uppercase;
}

#time {
	font-size: 0.8em;
	margin: 10px;
}

#cordinates {
	font-size: 1em;
	margin-top: 10px;
	margin-bottom:0px;
}

#header {
	text-align: center;
	color: #FFF;
	font-size: 3em;
    width: 100%;               /* Ensure full width */
    height: 100%;              /* Optional: Adjust if you need specific height */
	}

#status {
	text-align: center;
	color: #FFF;
	font-size: 60px;
	}

#location {

}


#location img {
	border-radius: 800px;
	max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
	margin: 5px;
}